!!!
%html
  %body
    //フラッシュボックス
    %div.flash-box
      %p グループを作成しました

    %div.wrapper
      %div.chat-side
        //userの名前部分のボックス
        %div.side-header
          %p.side-header__user-name
          %ul.user-menu
            /アカウントの編集アイコン
            %li.user-menu__edit-user
              =fa_icon "edit"
            /グループの新規作成アイコン
            %li.user-menu__new-group
              =fa_icon "cog"
            
      //参加中のグループ
      %div.groups
        %div.group
          %group__group-name test-group
          %group__latest-message さようなら
        %div.group
          %group__group-name sample-group
          %group__latest-message hello!
        %div.group
          %group__group-name example
          %group__latest-message まだメッセージがありません

      %div.chat-main
        //メッセージ表示中のグループ
        %div.main-header
          %div.current-group
            %h2 test-group
            %ul.member-list 
              %member-list__member seo
              %member-list__member neko

          //editボタン
          %a
            %div.main-header__edit-btn Edit

        //メッセージ表示部分
        %div.messages
          %div.message
            %div.upper-info
              %upper-info__user test-user
              %upper-inho__date 2019/05/04(Sta) 14:18:20
            %message__text こんにちは！
          %div.message
            %div.upper-info
              %upper-info__user test-user
              %upper-inho__date 2019/05/04(Sta) 14:30:20
            %message__text さようなら

        //メッセージ入力部分
        %div.form
          %div.new-message
            %div.input-box
              %lavel.image-lavel
                %i
                  =fa_icon "image"
            %input{:type => "submit", :name => "commit", :value => "SEND"}




